@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 12vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #1e2d3b;
    z-index: 1;
}

section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.logo {
    width: 26vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edcd1f;
}

.logo img {
    height: 50px;
    margin: 0 15px 0 0;
}

.logo h1 {
    margin: 0;
    padding: 0;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.logo h1 span {
    font-weight: 300;
}

.navegacion {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
}

.navegacion a:hover {
    color: #edcd1f;
}

.video {
    height: 100vh;
    width: 100vw;
    background: #1e2d3b;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

video {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.video h2 {
    width: 50vw;
    height: 40vh;
    position: absolute;
    font-weight: 700;
    left: 50%;
    top: 40%;
    font-size: 60px;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

.video a {
    height: 3vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#servicios {
    height: 90vh;
    width: 100vw;
    background: white;
}

.titulo {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 50px;
    color: #1e2d3b;
}

.titulo div {
    margin-top: 15px;
    height: 1vh;
    width: 10vw;
    background: #edcd1f;
}

.trabajos {
    padding-top: 20px;
    height: 60vh;
    width: 80%;
    display: flex;
    margin: auto;
}

.trabajo {
    width: 33.33%;
    height: 90%;
    margin: 10px;
    background: #f7f7f7;
}

.trabajo img {
    width: 100%;
    object-fit: cover;
}

.trabajo h4 {
    width: 80%;
    margin: 20px auto;
    font-size: 22px;
    color: #3d5975;
}

.trabajo p {
    width: 80%;
    margin: auto;
    color: gray;
    font-weight: 300;
}

#nosotros {
    height: 100vh;
    width: 100vw;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
}

.nosotros {
    height: 80%;
    width: 100%;
    display: flex;
}

.nosotros .titulo{
    width: 50%;
    height: 80%;
    margin-top: 50px;
}

.nosotros .titulo div {
    margin-left: -190px;
}

.nosotros .titulo h2 {
    width: 50%;
}

.nosotros .titulo p {
    width: 50%;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 300;
}

.nosotros .construccion {
    width: 50%;
    height: 100%;
}

.nosotros .construccion img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#nosotros .cinta {
    width: 100%;
    height: 20%;
    background: #edcd1f;
}

#nosotros .cinta .datos {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cinta .datos div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cinta .datos .numero {
    font-size: 60px;
    font-weight: 900;
    color: #3d5975;
}

.cinta .datos p {
    margin: 0;
    font-size: 25px;
    text-align: center;
    color: #3d5975;
}

.datos .linea {
    height: 80px;
    width: 3px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}